/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 1em auto;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.portfolio-image {
  width: 90%;
  height: 90%;
  margin: 0px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1em;
}

.portfolio-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Style the portfolio items */
.portfolio-item {
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% - 20px);
  flex-basis: calc(50% - 20px);
  margin: 20px 20px 20px 20px;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect to portfolio items */
.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.portfolio-link,
.code-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
}

.portfolio-link {
  font-size: 1.5em;
  font-weight: bold;
}

.code-link {
  font-size: 2em;
}

.portfolio-link:hover,
.code-link:hover {
  color: purple;
}
