.name {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #302e2e;
  padding: 20px, 10px, 20px, 10px;
  color: #ffffff;
  gap: 10px;
  margin: 0px, 0px, 10px, 10px;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  color: purple;
}
