.name {
  font-size: 36px;
  font-weight: bold;
  margin: 0px 30px 0px 30px;
  padding-top: 10px;
}

.title {
  font-size: 24px;
  margin: 0px 30px 0px 30px;
}

.nav {
  padding: 20px, 10px, 20px, 10px;
  color: var(--secondary-color);
  margin: 0px 30px 0px 30px;
  text-decoration: none;
}

.nav:hover,
.nav.active {
  color: var(--tertirary-color);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
}
@media screen and (max-width: 840px) {
  .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
  }
  .nav a {
    margin: 5px;
  }
}
