.name {
  font-size: 36px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px, 10px, 20px, 10px;
  color: var(--secondary-color);
  margin: 0px 30px 0px 30px;
  text-decoration: none;
}

.nav:hover,
.nav.active {
  color: var(--tertirary-color);
}

.ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .nav {
    justify-content: center;
    margin: 0;
  }
  .nav a {
    margin: 5px;
  }
}
