.footer {
  margin-top: auto;
}

.footer p {
  padding: 5px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  margin-top: 30px;
}

.social-link {
  color: #ffffff;
  font-size: 3em;
  margin-top: 1em;
  padding: 1em;
}

.social-link:hover {
  color: var(--tertirary-color);
}
@media screen and (max-width: 768px) {
  .footer-text {
    font-size: 14px;
    margin-top: 20px;
  }

  .social-link {
    margin-top: 10px;
  }
}
